*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    padding: 5px;
    grid-template-rows: 1fr 4fr;
    margin: auto;
    margin-top: 50px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.171);
    width: 500px;
    height: 80vh;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#inputSetTitle{
    text-align: center;
    max-width: 400px;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    outline: none;
    height: 30px;

}

#cardBody{
    overflow: auto;
}

::-webkit-scrollbar{
    width: min-content;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-left: 50px;
}

.tasks input{
    width: 15px;
    height: 15px;
}
#check:checked + .labelCheck{
    text-decoration: line-through;
}

.tasks label{
    margin-left: 10px;
}

.buttonDel{
    background-color: #f50202e8;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.363);
    color: #FFFFFF;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
    
}


#addDo{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    width: 100%;
}

#addDo #buttonAdd{
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: 700;
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.171);
    border-radius: 50%;
    background-color: rgb(255, 174, 0);
}

#addDo #buttonAdd:hover{
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.8s;
}

.inputToAddTask{
    font-size: 1.2rem;
    outline: none;
    height: 30px;
    padding: 5px;
    margin-bottom: 25px;
}


@media (max-width: 600px){
    #container{
        width: 400px;
    }
    #inputSetTitle{
        max-width: 300px;
        font-size: 1.6rem;
    
    }
    #addDo #buttonAdd{
        font-size: 2.2rem;
        width: 50px;
        height: 50px;
    }
    
.inputToAddTask{
    font-size: 1.2rem;
    height: 30px;
}
}

@media (max-width: 400px){
    #container{
        width: 300px;
    }
    #inputSetTitle{
        max-width: 280px;
        font-size: 1.4rem;   
    }
    #addDo #buttonAdd{
        font-size: 2rem;
        width: 42px;
        height: 42px;
    }
    
    .inputToAddTask{
        font-size: 1.1rem;
        height: 30px;
    }
}